@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #171717;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: #171717;
}

::-webkit-scrollbar-thumb {
	background-color: #9d174dcc;
}
input[type="month"]::before {
	content: attr(placeholder) !important;
	color: #525252eb;
	width: 40%;
}
/* 
input[type="month"]:focus::before,
input[type="month"]:active::before {
	content: "ddd";
	width: 0%;
} */
